<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博文编辑</title>
    <link href="../../static/images/me.jpg" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css"
          th:href="@{/lib/editormd/css/editormd.min.css}">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">

    <script type="text/javascript">
        function Check(){
            var photoName = document.getElementById("photoName").value;
            if (photoName == "" || photoName.value == null ) {
                alert("请输入图片名称");
            }
        }
    </script>
    
</head>
<body>

<!--导航-->
<nav class="ui inverted gird-header">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui olive header item" style="font-family: STSong">管理后台</h2>
            <a th:href="@{/admin/blogs}" class="active m-item item m-mobile-hide"><i class="home icon"></i>博文管理</a>
            <a th:href="@{/admin/types}" class=" m-item item m-mobile-hide"><i class="clone outline icon"></i>分类管理</a>
            <a th:href="@{/admin/friendlinks}" class=" m-item item m-mobile-hide"><i class="pencil alternate icon"></i>友链管理</a>
            <!--        <a th:href="@{/admin/pictures}" class=" m-item item m-mobile-hide"><i class="image icon"></i>相册管理</a>-->
            <div class="right m-item m-mobile-hide menu">
                <a th:href="@{/}" class="item">返回首页</a>
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" th:src="@{/images/me.jpg}">
                        <span>zyj</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a th:href="@{/exit}" onclick="return confirm('确定要退出登录吗？')" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="m-padded-tb-hugex">
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" class="teal active item">修改</a>
                <a th:href="@{/admin/blogs}" class="item">列表</a>
            </div>
        </div>
    </div>
</div>

<!--中间内容-->
<div class="">
    <div class="ui container">

        <!--图片上传-->
        <form th:action="@{/imgup(blogId=${blog.id})}" method="post" enctype="multipart/form-data" class="ui form">
            <div class="ui left labeled input" style="width: 100%">
                <input type="file" name="images" multiple style="width: 30%">
                <input type="text" id="photoName" name="photoName" placeholder="请输入该图片名称，便于引用" onclose="Check();" style="width: 30%">
                <input type="submit" value="上传" style="background-color: #00B5AD;color: white">
                <p style="width: 35%;color: red;background-color: white;text-align: center;padding-top: 13px">注意：请在编辑文章前上传图片，否则已编辑内容将丢失！</p>
            </div>
        </form>
        
        <form id="blog-form" th:action="@{/blog}" method="post" class="ui form">
            <input type="hidden" name="_method" value="put">
            <input type="hidden" name="status">
            <input type="hidden" name="id" th:value="${blog.id}">

            <div class="required field">
                <div class="ui left labeled input">
                    <div class="ui selection compact teal basic dropdown label">
                        <input type="hidden" value="原创" name="origin" th:value="${blog.origin}">
                        <i class="dropdown icon"></i>
                        <div class="text">原创</div>
                        <div class="menu">
                            <div class="item" data-value="1">原创</div>
                            <div class="item" data-value="2">转载</div>
                            <div class="item" data-value="3">翻译</div>
                        </div>
                    </div>
                    <input type="text" name="title" th:value="${blog.title}" placeholder="标题">
                </div>
            </div>

            <div class="required field">
                <div class="" id="md-content" style="z-index: 1 !important;">
                    <textarea placeholder="博客内容" name="content" th:text="${blog.content}"
                              style="display: none"></textarea>
                </div>
            </div>

            <div class="two fields">
                <div class="required field">
                    <div class="ui left labeled action input">
                        <label class="ui compact teal basic label">分类</label>
                        <div class="ui fluid selection dropdown">
                            <!--新增-->
                            <!--                <input type="hidden" name="type.id" >-->
                            <!--编辑-->
                            <input th:if="${blog.typeId} != null" type="hidden" name="typeId" th:data-value="${blog.typeId}" th:value="${type.typeName}">
                            <input th:if="${blog.typeId} == null" type="hidden" name="typeId" >
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div th:each="type : ${types}" class="item" th:data-value="${type.id}"
                                     th:text="${type.typeName}">我的故事
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="required field">
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">首图</label>
                        <input type="text" name="avatar" th:value="${blog.avatar}" placeholder="首图引用地址">
                    </div>
                </div>
            </div>

            <div class="required field">
                <textarea name="profile" th:text="${blog.profile}" placeholder="博客描述..." maxlength="200"></textarea>
            </div>

            <!--        <div class="inline fields">-->
            <!--          <div class="field">-->
            <!--            <div class="ui checkbox">-->
            <!--              <input type="checkbox" id="recommend" name="recommend" checked class="hidden">-->
            <!--              <label for="recommend">推荐</label>-->
            <!--            </div>-->
            <!--          </div>-->
            <!--          <div class="field">-->
            <!--            <div class="ui checkbox">-->
            <!--              <input type="checkbox" id="shareStatement" name="shareStatement" class="hidden">-->
            <!--              <label for="shareStatement">转载声明</label>-->
            <!--            </div>-->
            <!--          </div>-->
            <!--          <div class="field">-->
            <!--            <div class="ui checkbox">-->
            <!--              <input type="checkbox" id="appreciation" name="appreciation" class="hidden">-->
            <!--              <label for="appreciation">赞赏</label>-->
            <!--            </div>-->
            <!--          </div>-->
            <!--          <div class="field">-->
            <!--            <div class="ui checkbox">-->
            <!--              <input type="checkbox" id="commentabled" name="commentabled" class="hidden">-->
            <!--              <label for="commentabled">评论</label>-->
            <!--            </div>-->
            <!--          </div>-->
            <!--        </div>-->

            <div class="ui error message"></div>

            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                <button type="button" id="save-btn" class="ui secondary button">保存</button>
                <button type="button" id="publish-btn" class="ui teal button">发布</button>
            </div>

        </form>
    </div>
</div>

<br>
<br>
<!--底部栏-->
<footer class="ui inverted vertical segment m-padded-tb-massive m-opacity">
    <!--容器-->
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="four wide column">
                <div style="font-size: large;font-weight: bold"
                     class="ui inverted m-text-thin m-text-spaced m-margin-top-max">联系我
                </div>
                <div class="ui inverted link list">
                    <div href="#" class="m-text-thin">Email：2635879218@qq.com</div>
                    <div href="#" class="m-text-thin">QQ：2635879218</div>
                </div>
            </div>

            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!--微信二维码-->
                        <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced ">
                            个人微信
                        </div>
                        <img src="../../static/images/oneStarWechat.jpg" th:src="@{/images/oneStarWechat.jpg}"
                             class="ui m-margin-top rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>

            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!--微信二维码-->
                        <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced ">
                            个人QQ
                        </div>
                        <img src="../../static/images/qq.jpg" th:src="@{/images/qq.jpg}"
                             class="ui m-margin-top rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <!--博客运行时间统计-->
            <div class="four wide column">
                <div style="font-size: large;font-weight: bold"
                     class="ui inverted  m-text-thin m-text-spaced m-margin-top">客栈信息
                </div>
                <!--<p id="htmer_time" class="item m-text-thin"></p>-->
                <!--                <div id="blog-message">-->
<!--                    <div class="ui inverted link list" style="align-content: center;margin-top: 10px">-->
<!--                        <div class="m-text-thin" style="text-align: left;margin-left: 75px;">-->
<!--                            文章总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;" th:text="${allBlogCount}"> 14 </h2> 篇-->
<!--                        </div>-->
<!--                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">-->
<!--                            访问总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;" th:text="${allCustomerCount}"> 14 </h2> 次-->
<!--                        </div>-->
<!--                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">-->
<!--                            评论总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;" th:text="${allMessageCount}"> 14 </h2> 条-->
<!--                        </div>-->
<!--                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">-->
<!--                            留言总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;"> 暂未开发留言功能 </h2> 条-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div th:include="common :: commonCount"></div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div style="color: #F08047;margin-top: -18px" class="ui inverted m-text-thin m-text-spaced">我的客栈已营业：<span
                id="htmer_time" class="item m-text-thin"></span> (*๓´╰╯`๓)
        </div>
        <a rel="nofollow" href="https://github.com/oneStarLR/myblog-page" target="_blank">个人博客前端页面来源</a>
    </div>
    </div>

</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>


<script>

    // $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");

    // 运行时间统计
    function secondToDate(second) {
        if (!second) {
            return 0;
        }
        var time = new Array(0, 0, 0, 0, 0);
        if (second >= 365 * 24 * 3600) {
            time[0] = parseInt(second / (365 * 24 * 3600));
            second %= 365 * 24 * 3600;
        }
        if (second >= 24 * 3600) {
            time[1] = parseInt(second / (24 * 3600));
            second %= 24 * 3600;
        }
        if (second >= 3600) {
            time[2] = parseInt(second / 3600);
            second %= 3600;
        }
        if (second >= 60) {
            time[3] = parseInt(second / 60);
            second %= 60;
        }
        if (second > 0) {
            time[4] = second;
        }
        return time;
    }

    $(function () {
        $("#blog-message").load("allCount");
    });

    function setTime() {
        /*此处为网站的创建时间*/
        var create_time = Math.round(new Date(Date.UTC(2022, 8, 22, 13, 37, 14)).getTime() / 1000);
        var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timestamp - create_time));
        currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
            + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
            + '秒';
        document.getElementById("htmer_time").innerHTML = currentTimeHtml;
    }

    setInterval(setTime, 1000);


    //初始化Markdown编辑器
    var contentEditor;
    $(function () {
        contentEditor = editormd("md-content", {
            width: "100%",
            height: 640,
            syncScrolling: "single",
//        path    : "../static/lib/editormd/lib/"
            path: "/lib/editormd/lib/"
        });
    });
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $('#save-btn').click(function () {
        $('[name="status"]').val(false);
        $('#blog-form').submit();
    });


    $('#publish-btn').click(function () {
        $('[name="status"]').val(true);
        $('#blog-form').submit();
    });


    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'title',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请输入博客标题'
                }]
            },
            content: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请输入博客内容'
                }]
            },
            typeId: {
                identifier: 'typeId',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请输入博客分类'
                }]
            },
            avatar : {
              identifier: 'avatar',
              rules: [{
                type : 'empty',
                prompt: '标题：请输入博客首图'
              }]
            },

            images : {
                identifier: 'images',
                rules: [{
                    type : 'empty',
                    prompt: '标题：请选择图片'
                }]
            },
            photoName : {
                identifier: 'photoName',
                rules: [{
                    type : 'empty',
                    prompt: '标题：请输入图片名称'
                }]
            },
    
            profile: {
                identifier: 'profile',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请输入博客描述'
                }]
            }
        }
    });

</script>
</body>
</html>