<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haha.blog.mapper.BlogMapper">
    <insert id="insertBlog" useGeneratedKeys="true" keyProperty="id">
        insert into blog values(null,#{title},#{content},#{typeId},#{commentId},#{date},#{profile},0,#{origin},#{status})
    </insert>
    <update id="updateEye">
        update blog set eye = eye + 1 where id = #{id}
    </update>
    <update id="updateBlog">
        update blog set title = #{title}, content = #{content}, type_id = #{typeId}, date = #{date},
                        profile = #{profile}, origin = #{origin}, status = #{status} where id = #{id}
    </update>
    <delete id="deleteBlog">
        delete from blog where id = #{id}
    </delete>


    <select id="getAllBlogTrue" resultType="com.haha.blog.pojo.Blog">
        select * from blog where status = true order by id desc 
    </select>
    <select id="getBlogById" resultType="com.haha.blog.pojo.Blog">
        select * from blog where id = #{id}
    </select>
    <select id="getBlogByType" resultType="com.haha.blog.pojo.Blog">
        select * from blog where type_id = #{id} order by id desc
    </select>
    <select id="getBlogByCondition" resultType="com.haha.blog.pojo.Blog">
        select * from blog
        <where>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="typeId != null">
                and type_id = #{typeId}
            </if>
        </where>
        order by id desc
    </select>
    <select id="getBlogByTypeTrue" resultType="com.haha.blog.pojo.Blog">
        select * from blog where type_id = #{id} and status = true order by id desc 
    </select>
    <select id="getBlogBySearch" resultType="com.haha.blog.pojo.Blog">
        select * from blog where status = true and (title like "%"#{query}"%" or profile like "%"#{query}"%")
    </select>
    <select id="getAllBlogCount" resultType="java.lang.Integer">
        select count(*) from blog where status = true
    </select>
    <select id="getAllCustomerCount" resultType="java.lang.Integer">
        select sum(eye) from blog where status = true
    </select>
</mapper>