<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haha.blog.mapper.FriendLinkMapper">
    <insert id="inputFriendLink" useGeneratedKeys="true" keyProperty="id">
        insert into friend values (null,#{blogname},#{blogaddress},#{pictureaddress}) 
    </insert>
    <update id="updateFriend">
        update friend set blogname = #{blogname}, blogaddress = #{blogaddress}, pictureaddress = #{pictureaddress} where id = #{id}
    </update>
    <delete id="deleteFriend">
        delete from friend where id = #{id}
    </delete>


    <select id="getCountSame" resultType="java.lang.Integer">
        select count(*) from friend where blogaddress = #{blogaddress}
    </select>
    <select id="getAllFriendLink" resultType="com.haha.blog.pojo.FriendLink">
        select * from friend
    </select>
    <select id="getFriendById" resultType="com.haha.blog.pojo.FriendLink">
        select * from friend where id = #{id}
    </select>
</mapper>